name: CD/CI -- tests


on:
  push:
    branches:
      - "**"

  pull_request:
    branches:
      - "**"

  workflow_dispatch:


# Run unit tests
# NOTE: Some unit tests regarding imports and import resolution assume that
#       stdlib modules can be resolved -- which is the case with pypy but not
#       with CPython
# NOTE: Some unit tests assume the flask and dateutil modules have been pip
#       installed -- thus they are included as a "faux"-dependency
jobs:
  unittests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "pypy-3.7", "pypy-3.8"]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install .[dev]

      - name: Run unit tests
        run: pytest tests/
